@import "_config.scss";

header{
    position: relative;
    display: block;
    width: 100%;
    background: black;
    color: $white;
    height: 100px;

    .logo {
        position: absolute;
        top: 50%; left: 15px;
        @include translateY(-50%);
    }

    nav,
    nav ul,
    nav ul li {
        margin: 0;
        padding: 0;

    }

    nav {
        position: absolute;
        top: 50%; right: 15px;
        @include translateY(-50%);

        ul li {
            list-style-type: none;
            display: inline-block;
            margin-right: 10px;

            &.last {
             margin: 0;   
            }

            a {
                font-size: 20px;
                line-height: normal;
                color: $white;
            }
        }
    }
}

footer{
    
  background: $black;
  padding: 10px 0;
  color: $white;

    .socialLinkwarpper
    {

    a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    @include translateY(-50%);
    display: inline-block;
    }
}
    // a:first-child {
    // border-left: 1px solid #70726F;
    // }
    a:hover {
    color:$white;
    }
}

